<%- include('../layout/header'); -%>

<div class="text-center align-middle all-center">
    <h1 class="">Welcome</h1>
    <b>A NodeJS framework in MVC</b>
</div>


<%- include('../layout/footer'); -%>