<%- include('../layout/header'); -%>

<div class="text-center align-middle all-center">
    <h1 class="">Welcome</h1>
    <b>A NodeJS framework in MVC</b>
</div>
<div>
    <!-- <iframe src=//cdn.crichd.pro/embed2.php?id=ptvsp width=100% height=520 frameborder=0 scrolling=no allowfullscreen=true marginheight=0 marginwidth=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
</div>


<%- include('../layout/footer'); -%>