<%- include('../../layout/header'); -%>
<div class="container">
    <div class="text-center">
        <h1 class="page-title">Password Reset</h1>
    </div>
    <hr>
    <div class="col-md-6 mx-auto">
        <form action="/forget-pasword-reset" method="POST">

            <div>
                <div class="form-group">
                    <label for="email">Your Registered E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
           
            <div class="text-center">
                <button type="submit" class="btn btn-success">Send me reset link</button>
            </div>


        </form>
    </div>
</div>
<%- include('../../layout/footer'); -%>