<%- include('../../layout/header'); -%>
<div class="container">
    <div class="text-center">
        <h1 class="page-title">Password Reset</h1>
    </div>
    <hr>
    <div class="col-md-12 text-center">
        <h3 class="text-success"><%= reset_message; %></h3>
        <p>Please check your inbox or spam message. If didn't send, Please <a href="/forget-pasword-reset">send the reset link</a> again.</p>
    </div>
</div>
<%- include('../../layout/footer'); -%>