<%- include('../layout/header'); -%>
<div class="container">
    <div class="text-center">
        <h1>401</h1>
        <h3><b>Authentication Failed!</b></h3>
    </div>
</div>
<%- include('../layout/footer'); -%>